@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap'); 

:root{
    --blue:#0051ff;
    --black:#130f40;
    --light-color:rgb(4, 172, 250);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    outline: none;
    border: none;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}

section{
    padding: 2rem 15%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span{
    background: rgb(255, 0, 98);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%,7% 50%, 0% 0%) ;
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: 8rem 3 rem;
    font-size: 2rem !important;
    border-radius: .5rem !important;
    border: .3rem solid var(--black) !important;
    color: rgb(255, 0, 98)!important;
    cursor: pointer;
    background:none;
}

.btn:hover{
    background: rgb(255, 0, 98) !important;
    color: #fff !important;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: rgb(199, 199, 199);
    box-shadow:var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(255, 0, 98);
}

.header .logo i{
    color: var(--blue);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}


.header .navbar a:hover{
    color: rgb(255, 0, 98);
    font-size: 2rem;
}

.header .icons div{
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    border-radius: .5rem;
    background:rgba(151, 151, 151, 0.767) ;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: rgb(255, 0, 98);
    color: #fff;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: rgb(0, 0, 0);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .5s linear;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none; 
    text-transform: none;
    font-size: 1.6rem;
    color: #fff;
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.header .search-form label:hover{
    color: var(--blue);
}

.header .login-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: rgb(0, 0, 0);
    text-align: center;
}

.header .login-form.active{
    right: 2rem;
    transition: .4s initial;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(255, 0, 98);
}

.header .login-form .box{
    width: 100%;
    margin: .7rem 0;
    background: #130f40;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: rgba(201, 201, 201, 0.767) ;
}

.header .login-form p a{
    color: var(--blue);
    text-decoration: underline !important;
}

.home{
    display: flex;
    align-items: top;
    justify-content: center;
    background: url(Assets/bg1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20rem;
    padding-bottom: 5rem;
}

.home .content{
    text-align: center ;
    width: 80rem;
    color: var(--blue);
    font-size: 1.5rem;
}

.home .content h3{
    color:rgb(255, 0, 98);
    font-size: 3rem;
}

.home .content span{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 100px;
}

.home .content p{
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 1.8;
}

/***features***/

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
    gap: 1.5rem;
}


.features .box-container .clsAutoFit{
    padding: 2rem 2rem;
    background: var(--light-color);
    outline: var(--outline);
    outline-offset: -1rem !important;
    text-align: center;
    box-shadow: var(--box-shadow);
    overflow: hidden;

}

.features .box-container .clsImg{
    max-width: 100%;
    max-height: 100%;
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .clsAutoFit:hover{
    outline: var(--outline-hover);
    outline-offset: -.8rem;
    background: rgba(252, 80, 200, 0.822);
}

.features .box-container .clsImg h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.features .box-container .clsImg p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

/***Templates***/


.templates .templates-slider{

    padding: 1rem;

}

.templates .templates-slider:first-child{

    margin-bottom: 2rem;
}

.templates .templates-slider .box{

    background: var(--light-color);
    border-radius: .5rem;
    text-align: center !important;
    padding: 3rem 2rem !important;
    outline-offset: -2rem !important;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    position: relative;
}

.templates .templates-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
    background: rgba(252, 80, 200, 0.822);
}

.templates .templates-slider .box img{
    height: 20rem;
}

.templates .templates-slider .box h3{
    font-size: 2.5rem  !important;
    color: var(--black);
}

.templates .templates-slider .box h3:hover{
    color:rgb(255, 0, 98);
}

.templates .templates-slider .box .contact{
    
    font-size: 2rem;
    color: var(--blue);
    padding: .5rem 0;
}


.templates .templates-slider .box .stars i{
    font-size: 1.7rem;
    color: yellow;
    padding: 5rem 1.5;
    border: var(--black);
}

.templates .templates-slider .box .stars i:hover{

    font-size: 2.2rem;
}


/***CATEGORIES**/


.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box{
    padding: 2rem 2rem;
    border-radius: .5rem;
    background: var(--light-color);
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem !important;
    text-align: center;
}

.categories .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
    background: rgba(252, 80, 200, 0.822);
}

.categories .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .box-container .box p{
    font-size: 1.5rem;
    color: var(--blue);
    line-height: 1.8;
    padding: 1rem 0;
}

/***footer**/

.footer{
    background: var(--light-color);

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr)) !important;
    gap: 1.5rem;
}

.footer .box-container .box h3{

    font-size: 2rem;
    color: #ffffff;
    padding: 1rem 0;

}

.footer .box-container .box h3:hover{
    font-size: 2.2rem;
    color: rgb(255, 0, 98);
}

.footer .box-container .box h3 i{
    color:rgba(0, 0, 0, 0.822);
}

.footer .box-container .box .share a{
    color:rgba(0, 0, 0, 0.822);
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: rgb(255, 0, 98);
    color: #fff;
}


.footer .box-container .box .link{
    display: block;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 0;

}

.footer .box-container .box .link i{
    color: var(--black);
    padding-right: .5rem;
}

.footer .box-container .box .link:hover i{
    padding-right: 1.5rem;
    color:rgb(255, 0, 98);
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 0;

}

.footer .box-container .box .email{
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.822);
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    width: 100%;
}

.footer .box-container .box .email:hover{
    background: rgb(255, 0, 98);
    color: #fff;
}


.footer .credit{
    text-align: center;
    margin-top: 1rem;
    padding: 1rem ;
    padding-top: 2.5rem;
    font-size: 1.5rem;
    color: rgb(247, 247, 247);
    border-top: var(--border);
}

.footer .credit span{
    color: rgb(255, 0, 98);
}













/****media queries**/



@media(max-width:991px){

    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem ;
    }
}


@media(max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width: 90%;
    }

    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 1.7rem;
        margin: 2rem;
        display: block;
    }
}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .footer{
        text-align: center;
    }
}